.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    background: #000;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    transition: opacity 0.3s ease;
}